<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <title>Airport Tracker</title>
    <script src="https://cesiumjs.org/releases/1.57/Build/Cesium/Cesium.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script
      data-require="bootstrap@3.3.7"
      data-semver="3.3.7"
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    ></script>
    <link
      data-require="bootstrap@3.3.7"
      data-semver="3.3.7"
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script src="ang_script.js"></script>
    <link
      href="https://cesiumjs.org/releases/1.57/Build/Cesium/Widgets/widgets.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Angular Script -->

    <script src="parser.js"></script>
    <script src="db.js"></script>

    <!-- <div id="loadingOverlay"><h1>Loading...</h1></div> -->

    <div ng-app="ngApp" ng-controller="ngCtrl">
      <!-- Trying to set global airports array to array inside scope -->
      <script>
        var dom_el = document.querySelector('[ng-controller="apCtrl"]');
        var ng_el = angular.element(dom_el);
        ng_el.apArray = airportsArray;
      </script>

      <div class="titlePane" id="title">
        <h2>
          <img id="title_logo" src="images/paper-plane.png" /> Airport Tracker
        </h2>
        <!-- <span id="upArrow">︿</span> -->
        <p>Select a state to view airports in.</p>

        <select id="state_select">
          <!-- <option value="" disabled="disabled" selected="selected"
                        >Select a state</option
                    > -->
          <option value="US-AL">Alabama</option>
          <option value="US-AK">Alaska</option>
          <option value="US-AZ">Arizona</option>
          <option value="US-AR">Arkansas</option>
          <option value="US-CA">California</option>
          <option value="US-CO">Colorado</option>
          <option value="US-CT">Connecticut</option>
          <option value="US-DE">Delaware</option>
          <option value="US-DC">District Of Columbia</option>
          <option value="US-FL">Florida</option>
          <option value="US-GA">Georgia</option>
          <option value="US-HI">Hawaii</option>
          <option value="US-ID">Idaho</option>
          <option value="US-IL">Illinois</option>
          <option value="US-IN">Indiana</option>
          <option value="US-IA">Iowa</option>
          <option value="US-KS">Kansas</option>
          <option value="US-KY">Kentucky</option>
          <option value="US-LA">Louisiana</option>
          <option value="US-ME">Maine</option>
          <option value="US-MD">Maryland</option>
          <option value="US-MA">Massachusetts</option>
          <option value="US-MI">Michigan</option>
          <option value="US-MN">Minnesota</option>
          <option value="US-MS">Mississippi</option>
          <option value="US-MO">Missouri</option>
          <option value="US-MT">Montana</option>
          <option value="US-NE">Nebraska</option>
          <option value="US-NV">Nevada</option>
          <option value="US-NH">New Hampshire</option>
          <option value="US-NJ">New Jersey</option>
          <option value="US-NM">New Mexico</option>
          <option value="US-NY">New York</option>
          <option value="US-NC">North Carolina</option>
          <option value="US-ND">North Dakota</option>
          <option value="US-OH">Ohio</option>
          <option value="US-OK">Oklahoma</option>
          <option value="US-OR">Oregon</option>
          <option value="US-PA">Pennsylvania</option>
          <option value="US-RI">Rhode Island</option>
          <option value="US-SC">South Carolina</option>
          <option value="US-SD">South Dakota</option>
          <option value="US-TN">Tennessee</option>
          <option value="US-TX">Texas</option>
          <option value="US-UT">Utah</option>
          <option value="US-VT">Vermont</option>
          <option value="US-VA">Virginia</option>
          <option value="US-WA">Washington</option>
          <option value="US-WV">West Virginia</option>
          <option value="US-WI">Wisconsin</option>
          <option value="US-WY">Wyoming</option>
        </select>
        <button id="choose" onclick="loadAirports(airportsArray)">
          Show Airports
        </button>
      </div>
      <div id="main">
        <div class="controlPane_1">
          <table id="airports_header_tag">
            <th
            id="index"
              href="#"
              style="width: 578px; text-align: center"
            >
              Airports
            </th>
            </table>
          <table id="airports_header">
            <th
            id="index"
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 74px"
            >
              ICAO
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 248px"
            >
              Name
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 168px"
            >
              City
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 78px; text-align: center"
            >
              Size
            </th>
            </table>
            <div class="force-overflow">
            <table id="airports">
            <tr
              id="apRows"
              ng-repeat="airport in airports|orderBy:orderByField:reverseSort"
              ng-click="setSelected($index);"
              ng-class="{'selected':selectedRow===$index}"
            >
            <!--  -->
              <td id="index" style="width: 75px">{{ airport.ICAO_airport }}</td>
              <td style="width: 383px" >{{ airport.Name }}</td>
              <td style="width: 219px" >{{ airport.City }}</td>
              <td style="width: 85px" >{{ airport.Size }}</td>
            </tr>
          </table>
          </div>
        </div>
        <!-- </div> -->
        <div class="controlPane_2">
          <table id="outgoing_flights_header_tag">
            <th
              href="#"
              style="text-align: center; width: 578px"
            >
              Departing Flights
            </th>
            
          </table>
          <table id="outgoing_flights_header">
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 106px"
            >
              Callsign
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 260px"
            >
              Destination
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 101px"
            >
              Departure Time
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 101px"
            >
              Estimated Arrival
            </th>
          </table>
          <table id="outgoing_flights">
            <tr
              id="flightRows"
              ng-repeat="flight in departingFlights|orderBy:orderByField:reverseSort"
              ng-click="setSelected_flight($index);"
              ng-class="{'selected_flight':selectedRow===$index}"
            >
              
              <td id="index" style="width: 106px">{{ flight.callsign }}</td>
              <td style="width: 260px" ng-click="viewAirport($index, 'departure');">{{ flight.destination}}</td>
              <td style="width: 101px" >{{ flight.departTime }}</td>
              <td style="width: 101px" >{{ flight.arriveTime }}</td>
            </tr>
          </table>
          <table id="incoming_flights_header_tag">
            <th
              href="#"
              style="text-align: center; width: 578px"
            >
              Arriving Flights
            </th>
            
          </table>
          <table id="incoming_flights_header">
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 106px"
            >
              Callsign
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 260px"
            >
              Origin
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 101px"
            >
              Departure Time
            </th>
            <th
              href="#"
              ng-click="orderByField='Type'; reverseSort = !reverseSort"
              style="width: 101px"
            >
              Estimated Arrival
            </th>
          <table id="incoming_flights">
            <tr
              id="flightRows"
              ng-repeat="flight in arrivalFlights|orderBy:orderByField:reverseSort"
              ng-click="setSelected_flight($index);"
              ng-class="{'selected_flight':selectedRow===$index}"
            >
              <td id="index" style="width: 106px">{{ flight.callsign }}</td>
              <td style="width: 260px" ng-click="viewAirport($index, 'arrival')" >{{ flight.origin }}</td>
              <td style="width: 101px" >{{ flight.departTime }}</td>
              <td style="width: 101px" >{{ flight.arriveTime }}</td>
            </tr>
          </table>

          <!-- <div class="controlPane_2_mask">

          </div> -->
        </div>

        <div id="cesiumContainer"></div>
      </div>

      <div id="toolbar"></div>

      <!-- Cesium Script -->
      <script src="cesium_script.js"></script>
      <!-- END ANGULAR DIV -->
    </div>
  </body>
</html>
